body{
	background-color:LightGray;
}
.nyambura{
background-color: violet;
text-align: center;
font-size:30px;
margin: 10px;
border: 5px;
padding: 25px;
font-family: italic;


}

.waithiageni{
background-color:violet;
text-align: center;
font-size: 30px;
margin: 10px;
border: 5px;
padding: 25px;
font-family: italic;


}
.firstparagraph{
  font-size: 30px;
  font-family:verdana;
  padding: 20px;
  margin: 15px;
  border: 20px solid blue

}
.secondparagraph{
	font-size:30px;
	font-family:verdana;
	padding: 20px;
	margin: 15px;
}