
.nyambura{
background-color: violet;
font-size: 28;
margin: 20px;
border: 20px solid pink;
padding: 15px;


}

.waithiageni{
background-color: violet;
font-size: 28;
margin: 20px;
border: 20px solid pink;
padding: 15px;


}
.firstparagraph{
  font-size: 30px;
  font-family:;
}